@import url(global.css);

#bgAboutUs {
  background-image: url("../img/bgresize.svg");
  width: 100%;
  margin: auto;
}

header {
  height: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoAboutUs {
  margin: 5vh;
  color: white;
}

.containerCards {
  border: solid 2px rgb(194, 35, 35);
  height: auto;
}

.card {
  /* background-color: none; */
  margin-bottom: 2vh;
  border: solid 2px var(--primaryColor);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  /* background-color: rgb(245, 245, 245); */
  text-align: center;
}

.card_title {
  font-size: 1rem;
}