@import url(global.css);

#bgAboutUs {
  background-image: url("../img/bgresize.svg");
  margin: auto; 
}

.infoAboutUs {
  margin-top: 20vh;
  text-align: center;
  color: white;
}

.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundCard {
  margin-bottom: 2vh;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(227, 183, 218, 0.329);
}

.containerCards .backgroundCard img {
  max-width: 85%;
}

.card_title {
  font-size: 1rem;
}


@media (min-width :768px) and (max-width :820px) {
  .containerCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cardsRow1 { grid-area: 1 / 2 / 2 / 3; }
.cardsRow2 { grid-area: 1 / 4 / 2 / 5; }
.cardsRow3 { grid-area: 2 / 3 / 3 / 4; }
.cardsRow4 { grid-area: 3 / 2 / 4 / 3; }
.cardsRow5 { grid-area: 3 / 4 / 4 / 5; }

/* .cardsRow1 { grid-area: 1 / 2 / 2 / 3; }
.cardsRow2 { grid-area: 1 / 4 / 2 / 5; }
.cardsRow3 { grid-area: 2 / 2 / 3 / 3; }
.cardsRow4 { grid-area: 2 / 4 / 3 / 5; }
.cardsRow5 { grid-area: 3 / 3 / 4 / 4; } */

}


/* @media (min-width :1024px) {
  
} */
