@import url(global.css);

#bgAboutUs {
  background-image: url("../img/bgresize.svg");
  margin: auto;
  /* width: 100%; */
  
}

/* main {
  margin: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.infoAboutUs {
  margin-top: 10vh;
  text-align: center;
  color: white;
}

.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(194, 35, 35);
}

.backgroundCard {
  margin-bottom: 2vh;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(227, 183, 218, 0.329);
}

.containerCards .backgroundCard img {
  max-width: 85%;
}

.card_title {
  font-size: 1rem;
}

/* @media (min-width :768px) and (max-width :820px) {
  .containerCards {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

  .card1,
  .card2,
  .card3,
  .card4 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

} */

/* @media (min-width :1024px) {

} */