@import url(global.css);


#contactBody {
 background: linear-gradient(var(--secondaryColor), var(--tertiaryColor));
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 120vh;
 padding-top: 90px;
}

.mainContact {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.textContact {
 margin-top: 10vh;
}

.titleContact {
 color: white;
 font-size: 30px;
 text-align: center;
}


.textContact p {
 color: white;
 text-align: center;
 font-size: 15px;
}

.boxFormImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}


.form {
background-color: aqua;
width: 80%;
display: flex;
flex-direction: column;

}

/*
.inputForm,
.textareaForm {
 width: 100%;
 padding: 12px 20px;
 margin-bottom: 20px;
 border: 1px solid white;
 border-radius: 4px;
 box-sizing: border-box;
 font-size: 16px;
 row-gap: 5px;
}
*/