@import url(global.css);

#bgHome {
  background-image: url("../img/bgresize.svg");
  width: auto;
  height: 800px;
}
.intro {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  color: white;
  font-size: 20px;
  font-family: Inika;
  font-weight: 700;
  word-wrap: break-word;
}
.pIntro {
  display: flex;
  color: white;
  justify-content: center;
  text-align: justify;
  margin: 20px 15px;
  font-size: 16px;
  font-family: Inika;
  font-weight: 700;
  word-wrap: break-word;
}

.cardsHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImage1,
.cardImage2,
.cardImage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  width: 106px;
  height: 122px;
  margin: 8px;
  cursor: pointer;
}

.cardGame {
  background: var(--quaternaryColor);
  border: solid var(--quaternaryColor);
  margin-bottom: 12px;
  width: 128px;
  height: 144px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
}

footer{
    background-color: var(--primaryColor);
    height: 12vh;
}

.footerHome{
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5px 10px;
}

.footerh2{
    font-size: 12px;
    color: white;
}

.paysHome{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 744px) and (max-width: 1199px) {
  .cardsHome {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .pIntro{
    margin-bottom: 40px;
  }
  .cardImage1,
  .cardImage2,
  .cardImage3 {
    width: 156px;
    height: 172px;
  }

  .cardGame{
    width: 176px;
    height: 192px;
  }

  .cardSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
  }

}

@media (min-width: 1200px) {
  .intro {
    margin-top: 150px;
  }

  .cardsHome {
    flex-direction: row;
    justify-content: center;
    margin-top: 110px;
  }
  .cardImage1,
  .cardImage2,
  .cardImage3 {
    width: 223px;
    height: 255px;
  }

  .cardGame {
    width: 248px;
    height: 276px;
    margin: -50px 25px;
  }

  .cardSecond {
    display: flex;
    flex-direction: row;
  }
}