body {
  background-image: url("../img/bgresize.svg");
  width: auto;
  height: auto;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  color: white;
  font-size: 20px;
  font-family: Inika;
  font-weight: 700;
  word-wrap: break-word;
}
 .pIntro{
  display: flex;
  color: white;
  justify-content: center;
  text-align: justify;
  margin: 35px;
  font-size: medium;
  font-family: Inika;
  font-weight: 700;
  word-wrap: break-word;
  }

.cardsHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImage1, .cardImage2, .cardImage3{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  width: 230px;
  height: 260px;
  margin: 10px 8px 7px 9px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}




.cardGame {
  background: var(--quaternaryColor);
  border: solid var(--quaternaryColor);
  margin-bottom: 38px;
  width: 255px;
  height: 288px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
}


@media (min-width: 744px) and (max-width: 1199px) {
 
.cardsHome{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}


.cardSecond{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

}

@media (min-width: 1200px) {
  .intro{
    margin-top: 150px;
  }

  .cardsHome {
   flex-direction: row;
   justify-content: center;
   margin-top: 110px;
  }

.cardGame{
  margin: 55px;
}

  .cardSecond{
    display: flex;
    flex-direction: row;
  }
}

